<!DOCTYPE html>
<html>
	<head>
		<title></title>
	</head>
	<body>
		<h1>Submitted Information</h1>
	 
		 
        <p>Your Name:<%= data.name %></p>
        <p>Location:<%= data.location %></p>
        <p>Fav Lang:<%= data.favlang %></p>
        <p>Comments:<%= data.comment %></p> 
        <a href='/'>back</a>
	</body>
</html>
